<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <style>
      body {
        background-color: burlywood;
        margin: 2px;
      }
      h1 {
        text-align: center;
        padding: 70px;
      }
      div {
        width: 460px;
        height: 200px;
        background: linear-gradient(
          rgb(175, 240, 241),
          white,
          rgb(170, 236, 206)
        );
        text-align: center;
        border: none;
        outline: none;
      }
    </style>
  </head>
  <body>
    <center>
      <div position="center">
        <h1>TASK IS SUCESSFUL</h1>
      </div>
    </center>
  </body>
</html>
